neuron_scripts/gap_junction.py
.idea/
Source_File.zip
Source_file
open_loop_control.sh
p_control_batch.sh
mpc_control_batch.sh
test.py
saved_models
neuron_scripts/V_ref_gj.npy
DDF_scripts/data-assimilation.py
DDF_scripts/generate_assimilation_data_gap_junction.py
DDF_scripts/evaluate_DDF_model.py
figure_parts
figures
control_output
open_loop_output
p_control_output
reference_trajectories
mpc_scripts/generate_reference_waveform_trajectories.py
open_loop_scripts/analyze_distribution.py
open_loop_scripts/null_spikes_I.npy
open_loop_scripts/null_spikes_II.npy
type_I_ref.npy
type_II_ref.npy
assimilation_data
assim_data

